* {
    box-sizing: border-box;
    border: 0;
}


/* override default outline styling */

*:focus {
    outline: 0;
    box-shadow: 0 0 4px 1px #28c7b7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    font-family: "Open Sans", Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #171824;
}

#nav {
    height: 64px;
    letter-spacing: 0.31px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}

.search-bar-container {
    position: relative;
}

.search-icon {
    color: #a8b6c6;
    position: absolute;
    left: 0.7em;
    top: 0.5em;
}

.login-links {
    display: flex;
    align-items: center;
}