/* Add global style imports here */

@import "./styles/vendors/normalize.css";
@import "./styles/base/base.css";
@import "./styles/vendors/fonts.css";
@import "./styles/base/variables.css";

/*  override default outline styling */
@media screen and (min-width: var(--max-breakpoint)) {
  .app {
    display: grid;
    max-width: var(--max-breakpoint);
    margin: 0 auto;
  }
}
